<div>
    <h2 translate="reachoutApp.notificationAcknowledgement.home.title">NotificationAcknowledgements</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="notificationAcknowledgement.new" style="background-color: #07079E;margin-left: -23%;">
                    <span class="glyphicon glyphicon-flash" style="color: #F5F5F5;"></span> <span translate="reachoutApp.notificationAcknowledgement.home.createLabel" style="color: #F5F5F5;">Create a new NotificationAcknowledgement</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.read">Read</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.consumerId">ConsumerId</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.notificationId">NotificationId</span></th>
                    <th><span translate="reachoutApp.notificationAcknowledgement.delivered">Delivered</span></th>
                    <th><span translate="Action" style="margin-left: 112px;">Action</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notificationAcknowledgement in filtered = (notificationAcknowledgements | offset: currentPage*itemsPerPage | limitTo: itemsPerPage| notificationFilter:selectedNotifications ) | orderBy:sortType:sortReverse track by notificationAcknowledgement.id">
                    <td><a ui-sref="notificationAcknowledgement.detail({id:notificationAcknowledgement.id})">{{notificationAcknowledgement.id}}</a></td>
                    <td>{{notificationAcknowledgement.read}}</td>
                    <td>{{notificationAcknowledgement.consumerId}}</td>
                    <td>{{notificationAcknowledgement.notificationId}}</td>
                    <td>{{notificationAcknowledgement.delivered}}</td>
                    <td>
                        <button type="submit"
                               ui-sref="notificationAcknowledgement.detail({id:notificationAcknowledgement.id})"
                               class="btn btn-primary btn-sm" style="background-color: #07079E;">
                           <span class="glyphicon glyphicon-eye-open" style="color: #F5F5F5;"></span>&nbsp;<span translate="entity.action.view" style="color: #F5F5F5;"> View</span>
                       </button>
                       <button type="submit"
                               ui-sref="notificationAcknowledgement.edit({id:notificationAcknowledgement.id})"
                               class="btn btn-primary btn-sm" style="background-color: #07079E;">
                           <span class="glyphicon glyphicon-pencil" style="color: #F5F5F5;"></span>&nbsp;<span translate="entity.action.edit" style="color: #F5F5F5;"> Edit</span>
                       </button>
                       <button type="submit"
                               ui-sref="notificationAcknowledgement.delete({id:notificationAcknowledgement.id})"
                               class="btn btn-primary btn-sm" style="background-color: #07079E;">
                           <span class="glyphicon glyphicon-trash" style="color: #F5F5F5;"></span>&nbsp;<span translate="entity.action.delete" style="color: #F5F5F5;"> Delete</span>
                       </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <tfoot>
		<td colspan="3">
		<div class="pagination">
			<ul class="pagination">
				<li ng-class="DisablePrevPage()"><a href ng-click="prevPage()">
						<< Prev</a></li>
				<li ng-repeat="n in range()" ng-class="{active: n == currentPage}"
					ng-click="setPage(n)"><a href="">{{n+1}}</a></li>
				<li ng-class="DisableNextPage()"><a href ng-click="nextPage()">Next
						>></a></li>
			</ul>

		</div>
	</td>
	</tfoot>
</div>
